# To test locally, run `cp .env.example .env` in your terminal. Then go to the newly created `.env` file and edit this accordingly.
# In AWS Amplify, go to your app -> Hosting -> Environment Variables, and add the following variable.
VITE_API_BASE_URL=https://h2fqo38sa8.execute-api.us-east-1.amazonaws.com